:root {
    --porcelain-white: #F6F8F9;
    --alto-gray: #D8D8D8;
    --dusty-gray: #979797;
    --shark-black: #2C2E30;
    --picton-blue: #37A8EE;
    --caribbean-green: #00DCA4;
    --buttercup-yellow: #F1C40F;
    --fuzzy-brown: #C0564A;
}